<html>
<head>
    <title></title>
</head>
<body>
{% if user %}
Привет, {{ user.getUserInfo.first_name }} [id {{ user.user_id }}] (<a href="{% url 'vk_logout' %}">Выйти</a>)
<br>
Твои друзья:
<br>

{% for friend in user.getUserFriends %}

<a href="https://vk.com/id{{ friend.id }}">
    {{ friend.last_name }} {{ friend.first_name}}
</a>
<br>
{% endfor %}

<br>

{% else %}
<a href="{% url 'vk_login' %}"><button alt="авторизоваться">авторизоваться</button></a>
{% endif %}

</body>
</html>